<div class="panel panel-default">
    <div class="panel-heading">Employee Entry Form : You can add an employee's detail information into this EMS Apps.</div>
    <div class="panel-body">
    <form class="form-horizontal" (submit)="addEmployee()">
    <div class="form-group">
      <label for="emp_name" class="col-sm-2 control-label">Employee's Name : </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name"  [(ngModel)]="model.name" required placeholder="Employee Name" name="name" >
      </div>
    </div>
    <div class="form-group">
      <label for="dob" class="col-sm-2 control-label">Date of Birth : </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="dob" [(ngModel)]="model.dob" required placeholder="Employee DOB" name="dob">
      </div>
    </div>
    <div class="form-group">
      <label for="age" class="col-sm-2 control-label">Age: </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="age" [(ngModel)]="model.age" required placeholder="Employee Age" name="age">
      </div>
    </div>
    <div class="form-group">
      <label for="address" class="col-sm-2 control-label">Address : </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="addr" [(ngModel)]="model.address" required placeholder="Employee Address" name="address">
      </div>
    </div>
    
  
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-success">Save</button>
         <a class="btn btn-info" (click)="goBack()">Back</a>
         <input type="reset" class="btn btn-info" value="clear" onclick="cleartext()"/>
      </div>
     
    </div>

  </form>
  
  
    </div>
  </div>